<h1>Create Movie</h1>

<form [formGroup]="movieForm" (ngSubmit)="createMovie()">
    <div class="mb-3">
   <label for="title" class="form-label">Title</label>
   <input  type="text"  class="form-control" name="Title" formControlName="Title">
   <div class="alert alert-danger" *ngIf="movieForm.get('Title').invalid && movieForm.get('Title').touched">
    <p *ngIf="title.errors['required']">Gereki alan</p>
    <p *ngIf="title.errors['minlength']">Min 5 karakter girmelisiniz.</p>
   </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
       <textarea  class="form-control"  name="Description" formControlName="Description"></textarea>
       <div class="alert alert-danger" *ngIf="movieForm.get('Description').invalid && movieForm.get('Description').touched">
        <p *ngIf="movieForm.get('Description').errors['required']">Gereki alan</p>
       </div>
         </div>

         <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text"  class="form-control" name="Image" formControlName="Image">
            <div class="alert alert-danger" *ngIf="movieForm.get('Image').invalid && movieForm.get('Image').touched">
              <p *ngIf="movieForm.get('Image').errors['required']">Gereki alan</p>
              <p *ngIf="movieForm.get('Image').errors['wrongExtension']">Hatalı resim uzantısı.</p>
             </div>
             </div>
             <div class="mb-3">
                <label for="categoryId" class="form-label">Category</label>
               <select class="form-select" formControlName="categoryId" id="categoryId" name="categoryId">
                 <option selected value="-1">Seçiniz</option>
                   <option *ngFor="let item of categories" value="{{item.Id}}">{{item.Name}}</option>
               </select>
                 </div>
                 <button [disabled]="movieForm.invalid" type="submit" class="btn btn-primary">Create</button>
                 <button type="button" (click)="clearForm()" class="btn btn-warning m-2">Clear</button>

</form>
