<h1>Create Movie</h1>

<form #form="ngForm" (ngSubmit)="createMovie(form)">
    <div class="mb-3">
   <label for="title" class="form-label">Title</label>
   <input #title="ngModel" type="text" required minlength="5" (change)="log(title)" [(ngModel)]="model.Title"  class="form-control" name="Title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
       <textarea  class="form-control"  [(ngModel)]="model.Description" name="Description"></textarea>
         </div>

         <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input  type="text" [(ngModel)]="model.Image" class="form-control" name="Image">
             </div>
             <div class="mb-3">
                <label for="categoryId" class="form-label">Category</label>
               <select class="form-control" [(ngModel)]="model.categoryId"  id="categoryId" name="categoryId">
                   <option *ngFor="let item of categories" value="{{item.Id}}">{{item.Name}}</option>
               </select>
                 </div>
                 <button class="btn btn-primary">Create</button>

</form>
