<div *ngIf="errorMessage" class="alert alert-danger">
{{errorMessage}}
</div>

<input type="text" class="form-control mb-4" placeholder="Ara..." [(ngModel)]="searchText">
<small class="text-muted" *ngIf="searchText">Aradığınız kelime : {{searchText}}</small>
<div *ngIf="movies.length==0" class="alert alert-warning" role="alert">
  {{message}}
</div>
<h2 *ngIf="movies.length>0">{{title}}</h2>

<div *ngIf="movies.length>0" class="alert alert-warning" role="alert">
   {{movies.length}} adet film bulundu.
</div>

<div *ngFor="let item of movies | searchFilter:searchText " class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/img/{{item.Image}}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.Title | titlecase}}</h5>
          <p class="card-text">{{item.Description | summary}}</p>
          <div>
            <a routerLink="/movies/{{item.id}}" class="btn btn-info">Details</a>
            <button (click)="addToList($event,item)" class="btn btn-primary ms-1">Listeye Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>



